
.footer {
    display: flex; 
    height: 100px;
    width: 100%;  
    background-color:$toroto-blue;

    margin-top: 0px;

    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
}

.future {
    height: 80px;
    float: left;
    white-space: 300px;
    margin-top: 13px;
    margin-left: 13px;
}

.socialm {
    margin-left: auto;
}


.footer h1 {
    font-size: 45px;
    font-weight: normal; 
    margin-top: 7px;
    padding-top: 5px;
    color: $toroto-green;
}


.white{
    font-weight: bold; 
    color:  $nice-white; 
}

@media only screen and (max-width: 600px) {
    .footer {
        height: 65px;
    }
    .footer img {
        height: 40px;

    }
    .footer h1 {
        visibility: hidden;
    }
    .white {
        visibility: hidden;
    }

}