$toroto-blue: #1930db;
$nice-white: #f1f1f1;
$toroto-green: #0fd35a;
$toroto-pink: #ba1863;

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
